# List of untracked files to ignore
matlab_code/testing_sandbox.m
matlab_code/MAT_files/LMS_PQ.mat
matlab_code/temp_results/*
matlab_code/data/*


## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.pdf
*.blg
*.bbl
*.tmp
*.bak
*.asv
*.bkp
*.sav
~*.xlsx
~$presentation.pptx
~$esentation_notes.docx
